<% include partials/header %>


<h1>Search Page</h1>

<form action="/results" method="GET">
    <label>Movie Name: <input name="movieName" type="text"></label>
    <button type="submit">Search</button>
</form>

<% include partials/footer %>