<% include partials/header %>
<h1>This is the show template.</h1>
<p>Name: <%= campground.name %></p>
<p>Description: <%= campground.description %></p>
<img src="<%= campground.imgUrl %>">

<% include partials/footer %>